*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "marsden", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

:root {
    --black: #111111;
    --grey: #1e1e1e;
    --white: #ffffff;
    --blue: #143ee2;
    --red: #ae201f;
    --green: #68a01b;
    --yellow: #ebd62f;
}

@font-face {
    font-family: "marsden";
    src: url("/marsden/marsden-bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "marsden";
    src: url("/marsden/marsden-regular.woff2");
}

a {
    text-decoration: none;
    color: var(--dark);
}
